/* Estilos para el encabezado (h1) */
h1 {
    color: #333; /* Color de texto gris oscuro */
    font-family: 'Arial', sans-serif; /* Fuente Arial o similar */
    text-align: center; /* Alineación del texto al centro */
    margin-bottom: 20px; /* Margen inferior de 20px */
}

/* Estilos para los encabezados secundarios (h2) */
h2 {
    color: #008CBA; /* Color de texto azul */
    font-family: 'Arial', sans-serif; /* Fuente Arial o similar */
    text-align: center; /* Alineación del texto al centro */
    margin-bottom: 15px; /* Margen inferior de 15px */
}

/* Estilos para los párrafos (p) */
p {
    color: #555; /* Color de texto gris */
    font-family: 'Arial', sans-serif; /* Fuente Arial o similar */
    text-align: center; /* Alineación del texto al centro */
    line-height: 1.6; /* Altura de línea */
    margin-bottom: 10px; /* Margen inferior de 10px */
}

/* Estilos para los enlaces */
a {
    color: #008CBA; /* Color de texto azul */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negrita */
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

/* Cambiar el color del enlace cuando el cursor pasa sobre él */
a:hover {
    color: #005f73; /* Color de texto azul oscuro */
}

/* Estilos para la sección del registro */
#registro {
    text-align: center; /* Alineación del texto al centro */
    margin-bottom: 30px; /* Margen inferior de 30px */
}

/* Estilos para el mensaje */
#mensaje {
    font-size: 20px; /* Tamaño de fuente */
    margin-top: 20px; /* Margen superior de 20px */
    color: #008CBA; /* Color de texto azul */
    font-family: 'Arial', sans-serif; /* Fuente Arial o similar */
}

/* Establecer color de fondo armónico */
body {
    background-color: #f2f2f2; /* Color de fondo gris claro */
    text-align: center; /* Alineación del texto al centro */
    font-family: 'Arial', sans-serif; /* Fuente Arial o similar */
    padding: 20px; /* Espaciado interno de 20px */
    line-height: 1.6; /* Altura de línea */
}
